<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='/static/images/download__1_-removebg-preview.png' rel='icon' type='image/x-icon'>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel='stylesheet'>
    <title>SongCoMark</title>
    <style>
      .body{
        background-color:  rgba(77, 180, 180, 0.322);
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    
    
    <link href="/static/main.css" rel="stylesheet">

  </head>
  <body class="body">
    <!-- SCM first div -->
    <div class="row ms-0 justify-content-center">
      <!-- SCM home overall navigation -->
      <div class="col">
        <h3 class="scm " style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgba(214, 79, 16, 0.527);"><a class="navbar-brand" href="/scm/user-home/">SONGCOMARK</a></h3>
      </div>
      <!-- end SCM home overall navigation -->

      <!-- navigation -->
      <div class="col-4 shadow mt-3" style="margin-inline-end: 5%;">
          <ul class="nav justify-content-center">
            <!-- home -->
             <div class="col-sm-1 justify-content-sm-center navheight">
              <a href="#" class="d-flex link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">          
              </a>
              <img src="/static/user_pix/{{deet.user_pix}}" name="profilepix" id="profilepix" width="32" height="32" class="rounded-circle">
              <ul class="dropdown-menu text-small">
                <li><a href="/scm/library/" class="dropdown-item">MyLibary</a></li>
                <li><a href="/scm/post/" class="dropdown-item">Post</a></li>
                <li><a href="/scm/profile_picture/" class="dropdown-item">Account</a></li>          
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/scm/logout/">Sign out</a></li>
              </ul>
            </div>
            <!-- about us -->
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="" title="About Us" alt="About Us">
                <div class="modal-dialog modal-dialog-scrollable">
                  <i class="fa-regular fa-address-card"></i>
                </div>
              </a>
            </li>

            <!-- contact us -->
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold " href="#" title="Contact Us" alt="Contact Us"><i class="fa-solid fa-phone-volume"></i></a>
            </li>

            <!-- Adverts -->
            <li class="nav-item">
              <a class="nav-link " href="#" title="Adverts" alt="ADs"><i class="fa-solid fa-rectangle-ad"></i></a>
            </li>
          </ul>
        </div>
      <!-- end SCM navigation -->
      
    </div>
    <!-- end SCM first div -->

    <!-- SCM hero -->
      {% block hero %}

      {% endblock hero %}
      <!-- end hero -->

      <!-- footer -->
<footer class="container text-center border-top" style="height:100px; line-height:100px;">
    <p class="float-end">
      <a href="#" style="color:#0e0d0c"><i class="fa-solid fa-angle-up"></i>
      </a>
    </p>
    <p>&copy; 2024 SongCoMark</p>
  </footer>
  <!-- end footer -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/jquery.min.js"></script>   
  </body>
</html>
